In [10]:
import pandas as pd
import numpy as np
#python libraries

In [15]:
data=pd.read_csv('data.csv')

In [16]:
data
#represents dataset

   Example  income credit score employment coollaterl
0        1    high         good        yes        yes
1        2    high          bad        yes        yes
2        3    high         good         no        yes
3        4  medium         good        yes         no

In [19]:
concepts = np.array(data)[:,:-1]

In [20]:
concepts

array([[1, 'high', 'good', 'yes'],
       [2, 'high', 'bad', 'yes'],
       [3, 'high', 'good', 'no'],
       [4, 'medium', 'good', 'yes']], dtype=object)

In [22]:
target = np.array(data)[:,-1]

In [23]:
target

array(['yes', 'yes', 'yes', 'no'], dtype=object)

In [25]:
def train (con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h=con[i].copy()
            break
            for i,val in enumerate(con):
                if tar[i]=='yes':
                    for x in range (len(specific_h)):
                        if val[x] !=specific_h[x]:
                            specific_h[x]='?'
                        else:
                            pass
                            return specific_h

In [26]:
print(train(concepts,target))

None